<section class="content">
  <div class="error-page">
    <h2 class="headline text-yellow"> 404</h2>

    <div class="error-content">
      <h3><i class="fa fa-warning text-yellow"></i> Oops! Pagina no encontrada.</h3>

      <p>
        No pudimos encontrar la pagina que buscabas.
        Mientras, podrias <a href="/app_home">retornar al inicio</a>
      </p>


      <div>
        <h3>{{message}}</h3>
      </div>
      <!-- /.input-group -->

    </div>
    <!-- /.error-content -->
  </div>
  <!-- /.error-page -->
</section>