
<section class="content">
  <div class="error-page">
    <h2 class="headline text-yellow"> {{status}}</h2>

    <div class="error-content">
      <h3><i class="fa fa-warning text-yellow"></i> Oops! </h3>
      <div>
        <h3>{{message}}</h3>
      </div>

      <p>

        Mientras, podrias <a href="/home">retornar al inicio</a>
      </p>


      
      <!-- /.input-group -->

    </div>
    <!-- /.error-content -->
  </div>
  <!-- /.error-page -->
</section>