<main>
    <div>
        <ul>
            {{#categoriesList Anything}}
            {{/categoriesList}}
            
        </ul>
        <canvas id="lineChart" height="100" width="200">
            
        </canvas>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>

    <script src="/js/chartJS.js"></script>
</main>