<link rel="stylesheet" href="/getStarted/text.css">

<div id=Started>
  Empieza a 
  <div id=flip>
    <div><div>CONTROLAR</div></div>
    <div><div>AHORRAR</div></div>
    <div><div>TRIUNFAR!</div></div>
  </div>
   ¡AHORA!
  <div>
    <h1></h1>
  </div>
  <div id="bottonStart">
    <a href="/start">
      <button type="button" class="btn btn-block btn-success btn-lg">Comenzar</button>
    </a>
  </div>
</div>

